body {
    color: #333333;
    font-family: arial,verdana,serif;
    font-size: 12px;
    line-height: 1.4em;
}
.clear{
	clear: both;
}
#wrapper{
	
}
#navBar{
	background : url("../img/header-bg.jpg") repeat-x scroll 0 0 transparent;
	width: 100%;
	height: 40px;
	position: relative;
	z-index: 999;
}
#navBarholder{
	background : url("../img/header-bg.jpg") repeat-x scroll 0 0 transparent;
	width: 100%;
	height: 40px;
}
.fixed_element{
	position: fixed !important;
	left: 0;
	right: 0;
	top: 0;
}
#navBar li{
	display:inline-block; 
	vertical-align:center; 
	overflow:hidden;
	margin: 0 10px;
}
.container{
	margin: 0 auto;
	position: relative;
    width: 1180px;
}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
#nav_left{
	padding-top: 9px;
	float: left;
}
#nav_right{
	padding-top: 9px;
	float: right;
}
#navbar a{
	color: #ECECEC;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 #000000;
	cursor: pointer;
}

#content{
	padding-top: 20px;
	position: static;
	overflow: hidden;
}
#content a{
	text-decoration: none;
}
.col{
	float: left;
    margin: 0 10px 20px;
    padding: 0;
	}
.image{
	z-index: 1;
	position: relative;
	box-shadow: 4px 6px 3px rgba(0, 0, 0, 0.3);
}
.detail{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65);
	color: #FFFFFF;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 50px;
}
.image a{
	color: #FFFFFF;
	cursor: pointer;
}
.image img{
	width: 275px;
	height: 275px;
}
.title{
	font-size: 20px;
    font-weight: 100;
    height: 23px;
	margin: 2px 5px;
    letter-spacing: 1px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info{
	margin: 2px 5px;
	overflow: hidden;
    text-overflow: ellipsis;
	letter-spacing: 1px;
}
.rating{
	font-size: 24px;
    font-weight: 100;
    height: 100%;
    letter-spacing: 1px;
    line-height: 50px;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 0;
}


                